.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.loginContainer {
    width: 80%;
    max-width: 1200px;
    min-height: 250px;
    padding: 20px;
    background-color: #f8f9fa;
}

.buttonGroup {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btnAceptar {
    color: #000000;
    background-color: #C8FFDF;
    border-color: #C8FFD4;
}

.btnAceptar:hover,
.btnAceptar:active,
.btnAceptar.active,
.open .dropdown-toggle.btnAceptar {
    color: #000000;
    background-color: #83C8A0;
    border-color: #C8FFD4;
}

.btnAceptar:active,
.btnAceptar.active,
.open .dropdown-toggle.btnAceptar {
    background-color: #83C8A0;
}

.btnAceptar .badge {
    color: #C8FFDF;
    background-color: #000000;
}
