.catalogo-card .card-img-top {
    width: 50%;          /* Ocupa el ancho completo del contenedor */
    height: 90%;        /* Establece una altura fija */
    object-fit: cover;    /* Ajusta la imagen para cubrir el área manteniendo la proporción */
    /* border-radius: 8px; */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); Sombra inicial */
    transition: all 0.3s ease;  /* Añade una transición suave a las propiedades */

}
/* Efecto al pasar el cursor por encima de la tarjeta */
.catalogo-card:hover .card-img-top {
    transform: scale(1.05);  /* La imagen crecerá ligeramente al pasar el cursor */
    /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); La sombra se hará más fuerte */
}

.card-title{
    background-color: #ffffff;
}