.card-header {
    margin-bottom: 0; /* Elimina cualquier margen inferior del encabezado */
    padding-bottom: 0.5rem; /* Ajusta el relleno si es necesario */
}

.accordion-item {
    margin-top: 0; /* Elimina el margen superior de cada acordeón */
}


.accordion-button {
    cursor: pointer;
}

.checkbox-margin {
    margin-right: 10px; /* Ajusta según tus necesidades */
}

.card-title.text-center {
    font-size: 1.25rem;
    text-align: center;
}


.card-text.text-center.text-danger {
    color: #dc3545;
    text-align: center;
}

.btn-success.btn-lg {
    font-size: 1.25rem;
    padding: .75rem 1.25rem;

}

.btn-success.btn-lg:disabled {
    background-color: #3c493f; /* Mantiene el color verde al estar desactivado */
    opacity: 0.65; /* Ajusta la opacidad si quieres un efecto visual de desactivado */
    cursor: not-allowed; /* Muestra el cursor de no permitido */
}

.transferencia-info {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
}

.transferencia-info p {
    margin: 5px 0;
}

.transferencia-info strong {
    color: #333;
}

.form-select,
.form-control {
    margin-top: 8px;
}

.accordion-collapse {
    transition: none !important;
}

