.card-title {
    font-size: 1.5rem;       
    font-weight: bold;       
    margin-bottom: 10px;     
}

.cantidad-control-rectangulo {
    border: 2px solid #ccc; /* Borde del rectángulo */
    border-radius: 8px; /* Borde redondeado opcional */
    padding: 5px; /* Espacio interno */
    display: inline-flex; /* Mostrar los elementos en línea */
    justify-content: space-between; /* Separar los botones y el input */
    align-items: center; /* Alinear verticalmente */
}

/* Ocultar flechas solo para campos de entrada de tipo number con la clase .input-cantidad */

/* Para navegadores Webkit (Chrome, Safari) */
.input-cantidad::-webkit-inner-spin-button,
.input-cantidad::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Oculta el botón de giro */
    margin: 0; /* Elimina el margen */
}

/* Para Firefox */
.input-cantidad {
    appearance: textfield; /* Propiedad estándar */
    -moz-appearance: textfield; /* Para compatibilidad con Firefox */
    -webkit-appearance: none; /* Para compatibilidad con Webkit (Chrome, Safari) */
}


.input-cantidad {
    text-align: center; /* Centrar el texto */
    width: 50px; /* Ajustar el ancho como desees */
}


.card-text {
    font-size: 1.1rem;         
    color: #6c757d;            
    margin-bottom: 8px;       
}

.btn-success {
    background-color: #FCBB3A;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    /* border: 2px solid black; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.btn-success:hover {
    background-color: darkorange;
    color: white;
    /* border: 2px solid white; */
}