.btn-estado {
    background-color: #f39c12;  /* Amarillo oscuro */
    border-color: #e67e22; /* Color de borde más oscuro para el botón */
}

.btn-estado:hover {
    background-color: #e67e22;  /* Un tono más oscuro al pasar el mouse */
    border-color: #f39c12;
}

.btn-estado:active {
    background-color: blue;
  }