@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Define your colors
$principal: $green-500; // Change this as needed
$alert-login: $purple-400;
$secundario: #FCBB3A;

// Custom color map
$custom-colors: (
    "principal": $principal,
    "secundario": $secundario,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Import Bootstrap styles after defining custom styles
@import "../../node_modules/bootstrap/scss/bootstrap";
