@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// $principal: #C8FFDF;
// $principal: $purple-500;
$principal: $green-500;
// $principal: #21157b;
// $principal: $primary;
$secundario: #FCBB3A;

$custom-colors: (
    "principal": $principal,
    "secundario": $secundario,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";