@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$principal: $green-500;
$secundario: #FCBB3A;
$admin: #ffac70;
$botonesHeader: $yellow-100;
$eliminar: #dc3545;

// Custom color map
$custom-colors: (
    "principal": $principal,
    "secundario": $secundario,
    "admin": $admin,
    "header": $botonesHeader,
    "eliminar": $eliminar
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Import Bootstrap styles after defining custom styles
@import "../../node_modules/bootstrap/scss/bootstrap";