/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Fondo general */
  color: #333; /* Color de texto */
}

a {
  text-decoration: none;
  color: #333; /* Color de los enlaces */
}

a:hover {
  color: #FA0061; /* Color de los enlaces al pasar el mouse */
}
