.App {
    text-align: center;
    font-family: 'Bree Serif', serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Crea una cuadrícula con 3 filas */
  }
  
  main {
    flex: 1;                 /* Permite que el main ocupe el espacio restante */
    padding: 20px;
  }
  
  .fondo {
    background: #fff3ef;


    min-height: 100vh;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }