.header {
    background-color: #FCBB3A !important;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 0px;
}

.logo-button {
    background: none; 
    border: none; 
    padding: 0; 
    outline: none; 
}

.cmlogo {
    margin-left: 15px;
    width: 10rem;
    height: auto;
    display: block; 
}


.logo {
    width: 60px;
    height: auto;
}

.usuario {
    width: 30px;
    height: auto;
    margin-right: 0; /* Espacio entre el ícono del usuario y el carrito */
}

.carrito {
    width: 35px;
    height: auto;
}

.catalogo {
    width: 40px;
    height: auto;
    margin-right: 1rem;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los íconos a la derecha */
    margin-right: 25px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}


