.header {
    background-color: #FCBB3A !important;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 0px;
}

.pflogo {
    width: 15rem;
    height: auto;
}

.logo {
    width: 60px;
    height: auto;
}
.custom-offcanvas-width {
    width: 40% !important; 
}

.offcanvas-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.offcanvas-header {
    background-color: #FCBB3A;
    height: 9.7%;
}

.offcanvas-body {
    overflow-y: auto; /* Habilitar el scroll dentro del cuerpo del carrito */
    padding-bottom: 80px; /* Deja espacio para el footer fijo */
}

.carrito-footer {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    background-color: #FCBB3A;
    padding: 10px 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1); /* Sombra para separar visualmente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}