
.inicio {
    text-align: center;
    padding: 20px;
}

.button{
    padding: 10px 15px;
    background-color: #FF9843;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    color: white;
    background-color: #dd8238;
}

.inicio-titulo {
    color: #181515; 
}

.inicio-titulo {
    
    text-align: center; 
}

.button-spacing {
    margin-top: 20px; 
    display: inline-block; 
    text-align: center; 
}

.descripcion {
    font-size: 20px; 
    font-weight: 1;
    margin-bottom: 10px; 
}

@keyframes entrada-izquierda-rotar {
    0% {
        transform: translateX(-1000px) rotate(0); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0) rotate(360deg); 
        opacity: 1; 
    }
}