.navbar {
    background-color: #FF9843; 
    padding: 100px 200px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links a {
    color: white; 
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}

.nav-links a:hover {
    background-color: #fcbb3a; 
    border-radius: 5px;
    color: #d17a33;
}

.titulo-nav {
    color: white; 
    font-weight: bold;
    text-decoration: none;
    font-size: 25px; 
    margin-left: 10px;
}

.titulo-nav:hover {
    color: white; 
    font-size: 25px; 
}
